
.inputContainer {
  width: 100%;
}

.inputGroup {
  position: relative;
  --height: 24px;
  --border-radius: 10px;
  --border-width: 1px;
  --line-height: 1.3125rem;
  --padding: calc(var(--height) / 2);
  --padding-horizontal: var(--padding);
  --translate: calc(var(--height) + var(--border-width) + 3px);

  --color-divider: var(--divider);
  --color-background: var(--background-level2);
  --color-primary: var(--primary-plainColor);
  --color-text: var(--text-primary);

  --color-background-hover: var(--background-level3);
  

  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    --height: 20px;
    --border-radius: 8px;
  }
}

.input {
  width: 100%;
  min-height: var(--height);
  padding: calc(var(--padding) - var(--border-width)) var(--padding-horizontal);
  border: var(--border-width) solid var(--color-divider);
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  box-sizing: border-box;
  outline: none;
  white-space: pre-wrap;
  line-height: var(--line-height);
  user-select: text;
  cursor: pointer;
  opacity: 1;

  transition:
    border-color 150ms ease-out,
    color 150ms ease-out,
    background-color 150ms ease-out,
    opacity 150ms ease-out;

  &:focus {
    border-color: var(--color-primary);
    cursor: text;

    ~ .userLabel {
      color: var(--color-primary);

      &[data-variant="move"] {
        transform: scale(0.8) translateY(calc(var(--translate) * -1));
      }

      &[data-variant="slide"]:not([data-position="float"]) {
        transform: translateX(30px);
        opacity: 0;
      }

      &[data-variant="zoom"] {
        transform-origin: left center;
        transform: scale(0.5);
        opacity: 0;
      }
    }

    ~ .helperText {
      background-color: var(--color-background);
    }
  }
}

.userLabel {
  position: absolute;
  z-index: 2;
  transform-origin: center left;
  color: var(--color-text);
  border-radius: 4px;
  padding: 0 0.2em;
  inset-inline: var(--padding-horizontal);
  width: fit-content;
  pointer-events: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  line-height: var(--line-height);
  display: flex;
  align-items: center;

  background-color: transparent;
  transition:
    opacity 0.15s ease-out,
    transform 0.15s ease-out;

  &[data-variant="move"] {
    background-color: var(--color-background);
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:not([data-position="float"]) {
      transform: scale(0.8) translateY(calc(var(--translate) * -1));
    }
  }
}

.errorText,
.successText,
.helperText {
  display: block;
}

.errorText {
  color: var(--color-error);
}

.successText {
  color: var(--color-success);
}

.helperText {
  position: absolute;
  right: 0.75rem;
  bottom: -0.5025rem;
  padding: 0 0.25rem;
  border-radius: 1rem;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 0.75rem;
  pointer-events: none;
  user-select: none;
}
