// Define constants for colors, spacing, and other common values
$white: var(--common-white);
$shadow-small: 0 2px 10px rgba(0, 0, 0, 0.05);
$shadow-large: 0 2px 15px rgba(0, 0, 0, 0.1);
$border-radius: 12px;
$padding-default: 16px;
$font-weight-bold: 600;
$font-weight-medium: 500;

// Add these to your existing constants
$skeleton-bg: var(--neutral-100);
$skeleton-highlight: --neutral-200;
$skeleton-animation: skeleton-loading 1.5s infinite ease-in-out;

// Define keyframes for skeleton loading animation
@keyframes skeleton-loading {
  0% {
    background-color: $skeleton-bg;
  }
  50% {
    background-color: $skeleton-highlight;
  }
  100% {
    background-color: $skeleton-bg;
  }
}

.tableContainer {
  width: 100%;
  box-shadow: $shadow-large;
  overflow: hidden;


  @media (min-width: 768px) {
    border: 2px solid var(--divider);
    border-radius: $border-radius;

  }
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  

  @media (min-width: 768px) {
    background-color: var(--background-level1);
  }

  thead {
    position: sticky;
    top: 0;
    background-color: var(--background-level1);
    z-index: 1;

    th {
      padding: $padding-default;
      font-weight: $font-weight-bold;
      text-align: left;
      border-bottom: 2px solid var(--neutral-200);
      color: var(--text-primary);
      white-space: nowrap;
    }
  }

  tbody {
    tr {
      border: 2px solid var(--divider);
      border-radius: $border-radius;

      &:nth-child(even) {
        background-color: var(--background-level2) ;
      }

      &:hover {
        background-color: var(--background-level3);
      }

      td {
        padding: $padding-default;
        vertical-align: middle;
        text-align: left;
        color: var(--text-primary);

        p {
          font-size: 16px;
          font-weight: $font-weight-medium;
        }

        span {
          display: none;
        }
      }
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  @media (max-width: 768px) {
    thead {
      display: none;
    }

    tbody {
      display: grid;
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      gap: 8px;

      tr {
        display: block;
        margin-top: 4px;

        background-color: var(--background-level2) !important;
        box-shadow: $shadow-small;

        td {
          display: block;
          padding: 4px 12px;
          
          &:not(:first-of-type) {
            border-top: 1px solid var(--divider);
          }

          &:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--text-secondary);
          }

          span {
            font-size: 14px;
            color: var(--text-secondary);
            display: block;
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    
    tbody {
      display: block !important;
    }
  }
}
