*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--background-surface);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} 

p {
  margin: 0;
}

[data-skeleton="true"] {
  opacity: 0.5;
}

:root {
  --light-background: #ffffff;
  --light-text: #000000;
  --dark-background: #1a202c;
  --dark-text: #f7fafc;
}

[data-theme="light"] {
  --primary-50: #edf5fd;
  --primary-100: #e3effb;
  --primary-200: #c7dff7;
  --primary-300: #97c3f0;
  --primary-400: #4393e4;
  --primary-500: #0b6bcb;
  --primary-600: #185ea5;
  --primary-700: #12467b;
  --primary-800: #0a2744;
  --primary-900: #051423;
  --primary-plainColor: var(--primary-500, #0b6bcb);
  --primary-plainHoverBg: var(--primary-100, #e3effb);
  --primary-plainActiveBg: var(--primary-200, #c7dff7);
  --primary-plainDisabledColor: var(--neutral-400, #9fa6ad);
  --primary-outlinedColor: var(--primary-500, #0b6bcb);
  --primary-outlinedBorder: var(--primary-300, #97c3f0);
  --primary-outlinedHoverBg: var(--primary-100, #e3effb);
  --primary-outlinedActiveBg: var(--primary-200, #c7dff7);
  --primary-outlinedDisabledColor: var(--neutral-400, #9fa6ad);
  --primary-outlinedDisabledBorder: var(--neutral-200, #dde7ee);
  --primary-softColor: var(--primary-700, #12467b);
  --primary-softBg: var(--primary-100, #e3effb);
  --primary-softHoverBg: var(--primary-200, #c7dff7);
  --primary-softActiveColor: var(--primary-800, #0a2744);
  --primary-softActiveBg: var(--primary-300, #97c3f0);
  --primary-softDisabledColor: var(--neutral-400, #9fa6ad);
  --primary-softDisabledBg: var(--neutral-50, #fbfcfe);
  --primary-solidColor: var(--common-white, #fff);
  --primary-solidBg: var(--primary-500, #0b6bcb);
  --primary-solidHoverBg: var(--primary-600, #185ea5);
  --primary-solidActiveBg: var(--primary-700, #12467b);
  --primary-solidDisabledColor: var(--neutral-400, #9fa6ad);
  --primary-solidDisabledBg: var(--neutral-100, #f0f4f8);
  --primary-mainChannel: 11 107 203;
  --primary-lightChannel: 199 223 247;
  --primary-darkChannel: 18 70 123;
  --neutral-50: #fbfcfe;
  --neutral-100: #f0f4f8;
  --neutral-200: #dde7ee;
  --neutral-300: #cdd7e1;
  --neutral-400: #9fa6ad;
  --neutral-500: #636b74;
  --neutral-600: #555e68;
  --neutral-700: #32383e;
  --neutral-800: #171a1c;
  --neutral-900: #0b0d0e;
  --neutral-plainColor: var(--neutral-700, #32383e);
  --neutral-plainHoverBg: var(--neutral-100, #f0f4f8);
  --neutral-plainActiveBg: var(--neutral-200, #dde7ee);
  --neutral-plainDisabledColor: var(--neutral-400, #9fa6ad);
  --neutral-outlinedColor: var(--neutral-700, #32383e);
  --neutral-outlinedBorder: var(--neutral-300, #cdd7e1);
  --neutral-outlinedHoverBg: var(--neutral-100, #f0f4f8);
  --neutral-outlinedActiveBg: var(--neutral-200, #dde7ee);
  --neutral-outlinedDisabledColor: var(--neutral-400, #9fa6ad);
  --neutral-outlinedDisabledBorder: var(--neutral-200, #dde7ee);
  --neutral-softColor: var(--neutral-700, #32383e);
  --neutral-softBg: var(--neutral-100, #f0f4f8);
  --neutral-softHoverBg: var(--neutral-200, #dde7ee);
  --neutral-softActiveColor: var(--neutral-800, #171a1c);
  --neutral-softActiveBg: var(--neutral-300, #cdd7e1);
  --neutral-softDisabledColor: var(--neutral-400, #9fa6ad);
  --neutral-softDisabledBg: var(--neutral-50, #fbfcfe);
  --neutral-solidColor: var(--common-white, #fff);
  --neutral-solidBg: var(--neutral-500, #636b74);
  --neutral-solidHoverBg: var(--neutral-600, #555e68);
  --neutral-solidActiveBg: var(--neutral-700, #32383e);
  --neutral-solidDisabledColor: var(--neutral-400, #9fa6ad);
  --neutral-solidDisabledBg: var(--neutral-100, #f0f4f8);
  --neutral-plainHoverColor: var(--neutral-900, #0b0d0e);
  --neutral-mainChannel: 99 107 116;
  --neutral-lightChannel: 221 231 238;
  --neutral-darkChannel: 50 56 62;
  --danger-50: #fef6f6;
  --danger-100: #fce4e4;
  --danger-200: #f7c5c5;
  --danger-300: #f09898;
  --danger-400: #e47474;
  --danger-500: #c41c1c;
  --danger-600: #a51818;
  --danger-700: #7d1212;
  --danger-800: #430a0a;
  --danger-900: #240505;
  --danger-plainColor: var(--danger-500, #c41c1c);
  --danger-plainHoverBg: var(--danger-100, #fce4e4);
  --danger-plainActiveBg: var(--danger-200, #f7c5c5);
  --danger-plainDisabledColor: var(--neutral-400, #9fa6ad);
  --danger-outlinedColor: var(--danger-500, #c41c1c);
  --danger-outlinedBorder: var(--danger-300, #f09898);
  --danger-outlinedHoverBg: var(--danger-100, #fce4e4);
  --danger-outlinedActiveBg: var(--danger-200, #f7c5c5);
  --danger-outlinedDisabledColor: var(--neutral-400, #9fa6ad);
  --danger-outlinedDisabledBorder: var(--neutral-200, #dde7ee);
  --danger-softColor: var(--danger-700, #7d1212);
  --danger-softBg: var(--danger-100, #fce4e4);
  --danger-softHoverBg: var(--danger-200, #f7c5c5);
  --danger-softActiveColor: var(--danger-800, #430a0a);
  --danger-softActiveBg: var(--danger-300, #f09898);
  --danger-softDisabledColor: var(--neutral-400, #9fa6ad);
  --danger-softDisabledBg: var(--neutral-50, #fbfcfe);
  --danger-solidColor: var(--common-white, #fff);
  --danger-solidBg: var(--danger-500, #c41c1c);
  --danger-solidHoverBg: var(--danger-600, #a51818);
  --danger-solidActiveBg: var(--danger-700, #7d1212);
  --danger-solidDisabledColor: var(--neutral-400, #9fa6ad);
  --danger-solidDisabledBg: var(--neutral-100, #f0f4f8);
  --danger-mainChannel: 196 28 28;
  --danger-lightChannel: 247 197 197;
  --danger-darkChannel: 125 18 18;
  --success-50: #f6fef6;
  --success-100: #e3fbe3;
  --success-200: #c7f7c7;
  --success-300: #a1e8a1;
  --success-400: #51bc51;
  --success-500: #1f7a1f;
  --success-600: #136c13;
  --success-700: #0a470a;
  --success-800: #042f04;
  --success-900: #021d02;
  --success-plainColor: var(--success-500, #1f7a1f);
  --success-plainHoverBg: var(--success-100, #e3fbe3);
  --success-plainActiveBg: var(--success-200, #c7f7c7);
  --success-plainDisabledColor: var(--neutral-400, #9fa6ad);
  --success-outlinedColor: var(--success-500, #1f7a1f);
  --success-outlinedBorder: var(--success-300, #a1e8a1);
  --success-outlinedHoverBg: var(--success-100, #e3fbe3);
  --success-outlinedActiveBg: var(--success-200, #c7f7c7);
  --success-outlinedDisabledColor: var(--neutral-400, #9fa6ad);
  --success-outlinedDisabledBorder: var(--neutral-200, #dde7ee);
  --success-softColor: var(--success-700, #0a470a);
  --success-softBg: var(--success-100, #e3fbe3);
  --success-softHoverBg: var(--success-200, #c7f7c7);
  --success-softActiveColor: var(--success-800, #042f04);
  --success-softActiveBg: var(--success-300, #a1e8a1);
  --success-softDisabledColor: var(--neutral-400, #9fa6ad);
  --success-softDisabledBg: var(--neutral-50, #fbfcfe);
  --success-solidColor: var(--common-white, #fff);
  --success-solidBg: var(--success-500, #1f7a1f);
  --success-solidHoverBg: var(--success-600, #136c13);
  --success-solidActiveBg: var(--success-700, #0a470a);
  --success-solidDisabledColor: var(--neutral-400, #9fa6ad);
  --success-solidDisabledBg: var(--neutral-100, #f0f4f8);
  --success-mainChannel: 31 122 31;
  --success-lightChannel: 199 247 199;
  --success-darkChannel: 10 71 10;
  --warning-50: #fefaf6;
  --warning-100: #fdf0e1;
  --warning-200: #fce1c2;
  --warning-300: #f3c896;
  --warning-400: #ea9a3e;
  --warning-500: #9a5b13;
  --warning-600: #72430d;
  --warning-700: #492b08;
  --warning-800: #2e1b05;
  --warning-900: #1d1002;
  --warning-plainColor: var(--warning-500, #9a5b13);
  --warning-plainHoverBg: var(--warning-100, #fdf0e1);
  --warning-plainActiveBg: var(--warning-200, #fce1c2);
  --warning-plainDisabledColor: var(--neutral-400, #9fa6ad);
  --warning-outlinedColor: var(--warning-500, #9a5b13);
  --warning-outlinedBorder: var(--warning-300, #f3c896);
  --warning-outlinedHoverBg: var(--warning-100, #fdf0e1);
  --warning-outlinedActiveBg: var(--warning-200, #fce1c2);
  --warning-outlinedDisabledColor: var(--neutral-400, #9fa6ad);
  --warning-outlinedDisabledBorder: var(--neutral-200, #dde7ee);
  --warning-softColor: var(--warning-700, #492b08);
  --warning-softBg: var(--warning-100, #fdf0e1);
  --warning-softHoverBg: var(--warning-200, #fce1c2);
  --warning-softActiveColor: var(--warning-800, #2e1b05);
  --warning-softActiveBg: var(--warning-300, #f3c896);
  --warning-softDisabledColor: var(--neutral-400, #9fa6ad);
  --warning-softDisabledBg: var(--neutral-50, #fbfcfe);
  --warning-solidColor: var(--common-white, #fff);
  --warning-solidBg: var(--warning-500, #9a5b13);
  --warning-solidHoverBg: var(--warning-600, #72430d);
  --warning-solidActiveBg: var(--warning-700, #492b08);
  --warning-solidDisabledColor: var(--neutral-400, #9fa6ad);
  --warning-solidDisabledBg: var(--neutral-100, #f0f4f8);
  --warning-mainChannel: 154 91 19;
  --warning-lightChannel: 252 225 194;
  --warning-darkChannel: 73 43 8;
  --common-white: #fff;
  --common-black: #000;
  --text-primary: var(--neutral-800, #171a1c);
  --text-secondary: var(--neutral-700, #32383e);
  --text-tertiary: var(--neutral-600, #555e68);
  --text-icon: var(--neutral-500, #636b74);
  --background-body: var(--common-white, #fff);
  --background-surface: var(--neutral-50, #fbfcfe);
  --background-popup: var(--common-white, #fff);
  --background-level1: var(--neutral-100, #f0f4f8);
  --background-level2: var(--neutral-200, #dde7ee);
  --background-level3: var(--neutral-300, #cdd7e1);
  --background-tooltip: var(--neutral-500, #636b74);
  --background-backdrop: rgba(var(--neutral-darkChannel, 11 13 14) / 0.25);
  --divider: rgba(var(--neutral-mainChannel, 99 107 116) / 0.2);
  --focusVisible: var(--primary-500, #0b6bcb);
  --joy-shadowRing: 0 0 #000;
  --joy-shadowChannel: 21 21 21;
  --joy-shadowOpacity: 0.08;
}

[data-theme="dark"] {
  --primary-50: #edf5fd;
  --primary-100: #e3effb;
  --primary-200: #c7dff7;
  --primary-300: #97c3f0;
  --primary-400: #4393e4;
  --primary-500: #0b6bcb;
  --primary-600: #185ea5;
  --primary-700: #12467b;
  --primary-800: #0a2744;
  --primary-900: #051423;
  --primary-plainColor: var(--primary-300, #97c3f0);
  --primary-plainHoverBg: var(--primary-800, #0a2744);
  --primary-plainActiveBg: var(--primary-700, #12467b);
  --primary-plainDisabledColor: var(--neutral-500, #636b74);
  --primary-outlinedColor: var(--primary-200, #c7dff7);
  --primary-outlinedBorder: var(--primary-700, #12467b);
  --primary-outlinedHoverBg: var(--primary-800, #0a2744);
  --primary-outlinedActiveBg: var(--primary-700, #12467b);
  --primary-outlinedDisabledColor: var(--neutral-500, #636b74);
  --primary-outlinedDisabledBorder: var(--neutral-800, #171a1c);
  --primary-softColor: var(--primary-200, #c7dff7);
  --primary-softBg: var(--primary-800, #0a2744);
  --primary-softHoverBg: var(--primary-700, #12467b);
  --primary-softActiveColor: var(--primary-100, #e3effb);
  --primary-softActiveBg: var(--primary-600, #185ea5);
  --primary-softDisabledColor: var(--neutral-500, #636b74);
  --primary-softDisabledBg: var(--neutral-800, #171a1c);
  --primary-solidColor: var(--common-white, #fff);
  --primary-solidBg: var(--primary-500, #0b6bcb);
  --primary-solidHoverBg: var(--primary-600, #185ea5);
  --primary-solidActiveBg: var(--primary-700, #12467b);
  --primary-solidDisabledColor: var(--neutral-500, #636b74);
  --primary-solidDisabledBg: var(--neutral-800, #171a1c);
  --primary-mainChannel: 67 147 228;
  --primary-lightChannel: 199 223 247;
  --primary-darkChannel: 18 70 123;
  --neutral-50: #fbfcfe;
  --neutral-100: #f0f4f8;
  --neutral-200: #dde7ee;
  --neutral-300: #cdd7e1;
  --neutral-400: #9fa6ad;
  --neutral-500: #636b74;
  --neutral-600: #555e68;
  --neutral-700: #32383e;
  --neutral-800: #171a1c;
  --neutral-900: #0b0d0e;
  --neutral-plainColor: var(--neutral-300, #cdd7e1);
  --neutral-plainHoverBg: var(--neutral-800, #171a1c);
  --neutral-plainActiveBg: var(--neutral-700, #32383e);
  --neutral-plainDisabledColor: var(--neutral-500, #636b74);
  --neutral-outlinedColor: var(--neutral-200, #dde7ee);
  --neutral-outlinedBorder: var(--neutral-700, #32383e);
  --neutral-outlinedHoverBg: var(--neutral-800, #171a1c);
  --neutral-outlinedActiveBg: var(--neutral-700, #32383e);
  --neutral-outlinedDisabledColor: var(--neutral-500, #636b74);
  --neutral-outlinedDisabledBorder: var(--neutral-800, #171a1c);
  --neutral-softColor: var(--neutral-200, #dde7ee);
  --neutral-softBg: var(--neutral-800, #171a1c);
  --neutral-softHoverBg: var(--neutral-700, #32383e);
  --neutral-softActiveColor: var(--neutral-100, #f0f4f8);
  --neutral-softActiveBg: var(--neutral-600, #555e68);
  --neutral-softDisabledColor: var(--neutral-500, #636b74);
  --neutral-softDisabledBg: var(--neutral-800, #171a1c);
  --neutral-solidColor: var(--common-white, #fff);
  --neutral-solidBg: var(--neutral-500, #636b74);
  --neutral-solidHoverBg: var(--neutral-600, #555e68);
  --neutral-solidActiveBg: var(--neutral-700, #32383e);
  --neutral-solidDisabledColor: var(--neutral-500, #636b74);
  --neutral-solidDisabledBg: var(--neutral-800, #171a1c);
  --neutral-plainHoverColor: var(--neutral-300, #cdd7e1);
  --neutral-mainChannel: 159 166 173;
  --neutral-lightChannel: 221 231 238;
  --neutral-darkChannel: 50 56 62;
  --danger-50: #fef6f6;
  --danger-100: #fce4e4;
  --danger-200: #f7c5c5;
  --danger-300: #f09898;
  --danger-400: #e47474;
  --danger-500: #c41c1c;
  --danger-600: #a51818;
  --danger-700: #7d1212;
  --danger-800: #430a0a;
  --danger-900: #240505;
  --danger-plainColor: var(--danger-300, #f09898);
  --danger-plainHoverBg: var(--danger-800, #430a0a);
  --danger-plainActiveBg: var(--danger-700, #7d1212);
  --danger-plainDisabledColor: var(--neutral-500, #636b74);
  --danger-outlinedColor: var(--danger-200, #f7c5c5);
  --danger-outlinedBorder: var(--danger-700, #7d1212);
  --danger-outlinedHoverBg: var(--danger-800, #430a0a);
  --danger-outlinedActiveBg: var(--danger-700, #7d1212);
  --danger-outlinedDisabledColor: var(--neutral-500, #636b74);
  --danger-outlinedDisabledBorder: var(--neutral-800, #171a1c);
  --danger-softColor: var(--danger-200, #f7c5c5);
  --danger-softBg: var(--danger-800, #430a0a);
  --danger-softHoverBg: var(--danger-700, #7d1212);
  --danger-softActiveColor: var(--danger-100, #fce4e4);
  --danger-softActiveBg: var(--danger-600, #a51818);
  --danger-softDisabledColor: var(--neutral-500, #636b74);
  --danger-softDisabledBg: var(--neutral-800, #171a1c);
  --danger-solidColor: var(--common-white, #fff);
  --danger-solidBg: var(--danger-500, #c41c1c);
  --danger-solidHoverBg: var(--danger-600, #a51818);
  --danger-solidActiveBg: var(--danger-700, #7d1212);
  --danger-solidDisabledColor: var(--neutral-500, #636b74);
  --danger-solidDisabledBg: var(--neutral-800, #171a1c);
  --danger-mainChannel: 228 116 116;
  --danger-lightChannel: 247 197 197;
  --danger-darkChannel: 125 18 18;
  --success-50: #f6fef6;
  --success-100: #e3fbe3;
  --success-200: #c7f7c7;
  --success-300: #a1e8a1;
  --success-400: #51bc51;
  --success-500: #1f7a1f;
  --success-600: #136c13;
  --success-700: #0a470a;
  --success-800: #042f04;
  --success-900: #021d02;
  --success-plainColor: var(--success-300, #a1e8a1);
  --success-plainHoverBg: var(--success-800, #042f04);
  --success-plainActiveBg: var(--success-700, #0a470a);
  --success-plainDisabledColor: var(--neutral-500, #636b74);
  --success-outlinedColor: var(--success-200, #c7f7c7);
  --success-outlinedBorder: var(--success-700, #0a470a);
  --success-outlinedHoverBg: var(--success-800, #042f04);
  --success-outlinedActiveBg: var(--success-700, #0a470a);
  --success-outlinedDisabledColor: var(--neutral-500, #636b74);
  --success-outlinedDisabledBorder: var(--neutral-800, #171a1c);
  --success-softColor: var(--success-200, #c7f7c7);
  --success-softBg: var(--success-800, #042f04);
  --success-softHoverBg: var(--success-700, #0a470a);
  --success-softActiveColor: var(--success-100, #e3fbe3);
  --success-softActiveBg: var(--success-600, #136c13);
  --success-softDisabledColor: var(--neutral-500, #636b74);
  --success-softDisabledBg: var(--neutral-800, #171a1c);
  --success-solidColor: var(--common-white, #fff);
  --success-solidBg: var(--success-500, #1f7a1f);
  --success-solidHoverBg: var(--success-600, #136c13);
  --success-solidActiveBg: var(--success-700, #0a470a);
  --success-solidDisabledColor: var(--neutral-500, #636b74);
  --success-solidDisabledBg: var(--neutral-800, #171a1c);
  --success-mainChannel: 81 188 81;
  --success-lightChannel: 199 247 199;
  --success-darkChannel: 10 71 10;
  --warning-50: #fefaf6;
  --warning-100: #fdf0e1;
  --warning-200: #fce1c2;
  --warning-300: #f3c896;
  --warning-400: #ea9a3e;
  --warning-500: #9a5b13;
  --warning-600: #72430d;
  --warning-700: #492b08;
  --warning-800: #2e1b05;
  --warning-900: #1d1002;
  --warning-plainColor: var(--warning-300, #f3c896);
  --warning-plainHoverBg: var(--warning-800, #2e1b05);
  --warning-plainActiveBg: var(--warning-700, #492b08);
  --warning-plainDisabledColor: var(--neutral-500, #636b74);
  --warning-outlinedColor: var(--warning-200, #fce1c2);
  --warning-outlinedBorder: var(--warning-700, #492b08);
  --warning-outlinedHoverBg: var(--warning-800, #2e1b05);
  --warning-outlinedActiveBg: var(--warning-700, #492b08);
  --warning-outlinedDisabledColor: var(--neutral-500, #636b74);
  --warning-outlinedDisabledBorder: var(--neutral-800, #171a1c);
  --warning-softColor: var(--warning-200, #fce1c2);
  --warning-softBg: var(--warning-800, #2e1b05);
  --warning-softHoverBg: var(--warning-700, #492b08);
  --warning-softActiveColor: var(--warning-100, #fdf0e1);
  --warning-softActiveBg: var(--warning-600, #72430d);
  --warning-softDisabledColor: var(--neutral-500, #636b74);
  --warning-softDisabledBg: var(--neutral-800, #171a1c);
  --warning-solidColor: var(--common-white, #fff);
  --warning-solidBg: var(--warning-500, #9a5b13);
  --warning-solidHoverBg: var(--warning-600, #72430d);
  --warning-solidActiveBg: var(--warning-700, #492b08);
  --warning-solidDisabledColor: var(--neutral-500, #636b74);
  --warning-solidDisabledBg: var(--neutral-800, #171a1c);
  --warning-mainChannel: 234 154 62;
  --warning-lightChannel: 252 225 194;
  --warning-darkChannel: 73 43 8;
  --common-white: #fff;
  --common-black: #000;
  --text-primary: var(--neutral-100, #f0f4f8);
  --text-secondary: var(--neutral-300, #cdd7e1);
  --text-tertiary: var(--neutral-400, #9fa6ad);
  --text-icon: var(--neutral-400, #9fa6ad);
  --background-body: var(--common-black, #000);
  --background-surface: var(--neutral-900, #0b0d0e);
  --background-popup: var(--common-black, #000);
  --background-level1: var(--neutral-800, #171a1c);
  --background-level2: var(--neutral-700, #32383e);
  --background-level3: var(--neutral-600, #555e68);
  --background-tooltip: var(--neutral-600, #555e68);
  --background-backdrop: rgba(var(--neutral-darkChannel, 251 252 254) / 0.25);
  --divider: rgba(var(--neutral-mainChannel, 99 107 116) / 0.16);
  --focusVisible: var(--primary-500, #0b6bcb);
  --joy-shadowRing: 0 0 #000;
  --joy-shadowChannel: 0 0 0;
  --joy-shadowOpacity: 0.6;
}
