*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--background-surface);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} 

p {
  margin: 0;
}

[data-skeleton="true"] {
  opacity: 0.5;
}

:root {
  --light-background: #ffffff;
  --light-text: #000000;
  --dark-background: #1a202c;
  --dark-text: #f7fafc;
}

[data-theme="light"] {
  --primary-50: #edf5fd;
  --primary-100: #e3effb;
  --primary-200: #c7dff7;
  --primary-300: #97c3f0;
  --primary-400: #4393e4;
  --primary-500: #0b6bcb;
  --primary-600: #185ea5;
  --primary-700: #12467b;
  --primary-800: #0a2744;
  --primary-900: #051423;
  --primary-plainColor: var(--primary-500, #0b6bcb);
  --primary-plainHoverBg: var(--primary-100, #e3effb);
  --primary-plainActiveBg: var(--primary-200, #c7dff7);
  --primary-plainDisabledColor: var(--neutral-400, #9fa6ad);
  --primary-outlinedColor: var(--primary-500, #0b6bcb);
  --primary-outlinedBorder: var(--primary-300, #97c3f0);
  --primary-outlinedHoverBg: var(--primary-100, #e3effb);
  --primary-outlinedActiveBg: var(--primary-200, #c7dff7);
  --primary-outlinedDisabledColor: var(--neutral-400, #9fa6ad);
  --primary-outlinedDisabledBorder: var(--neutral-200, #dde7ee);
  --primary-softColor: var(--primary-700, #12467b);
  --primary-softBg: var(--primary-100, #e3effb);
  --primary-softHoverBg: var(--primary-200, #c7dff7);
  --primary-softActiveColor: var(--primary-800, #0a2744);
  --primary-softActiveBg: var(--primary-300, #97c3f0);
  --primary-softDisabledColor: var(--neutral-400, #9fa6ad);
  --primary-softDisabledBg: var(--neutral-50, #fbfcfe);
  --primary-solidColor: var(--common-white, #fff);
  --primary-solidBg: var(--primary-500, #0b6bcb);
  --primary-solidHoverBg: var(--primary-600, #185ea5);
  --primary-solidActiveBg: var(--primary-700, #12467b);
  --primary-solidDisabledColor: var(--neutral-400, #9fa6ad);
  --primary-solidDisabledBg: var(--neutral-100, #f0f4f8);
  --primary-mainChannel: 11 107 203;
  --primary-lightChannel: 199 223 247;
  --primary-darkChannel: 18 70 123;
  --neutral-50: #fbfcfe;
  --neutral-100: #f0f4f8;
  --neutral-200: #dde7ee;
  --neutral-300: #cdd7e1;
  --neutral-400: #9fa6ad;
  --neutral-500: #636b74;
  --neutral-600: #555e68;
  --neutral-700: #32383e;
  --neutral-800: #171a1c;
  --neutral-900: #0b0d0e;
  --neutral-plainColor: var(--neutral-700, #32383e);
  --neutral-plainHoverBg: var(--neutral-100, #f0f4f8);
  --neutral-plainActiveBg: var(--neutral-200, #dde7ee);
  --neutral-plainDisabledColor: var(--neutral-400, #9fa6ad);
  --neutral-outlinedColor: var(--neutral-700, #32383e);
  --neutral-outlinedBorder: var(--neutral-300, #cdd7e1);
  --neutral-outlinedHoverBg: var(--neutral-100, #f0f4f8);
  --neutral-outlinedActiveBg: var(--neutral-200, #dde7ee);
  --neutral-outlinedDisabledColor: var(--neutral-400, #9fa6ad);
  --neutral-outlinedDisabledBorder: var(--neutral-200, #dde7ee);
  --neutral-softColor: var(--neutral-700, #32383e);
  --neutral-softBg: var(--neutral-100, #f0f4f8);
  --neutral-softHoverBg: var(--neutral-200, #dde7ee);
  --neutral-softActiveColor: var(--neutral-800, #171a1c);
  --neutral-softActiveBg: var(--neutral-300, #cdd7e1);
  --neutral-softDisabledColor: var(--neutral-400, #9fa6ad);
  --neutral-softDisabledBg: var(--neutral-50, #fbfcfe);
  --neutral-solidColor: var(--common-white, #fff);
  --neutral-solidBg: var(--neutral-500, #636b74);
  --neutral-solidHoverBg: var(--neutral-600, #555e68);
  --neutral-solidActiveBg: var(--neutral-700, #32383e);
  --neutral-solidDisabledColor: var(--neutral-400, #9fa6ad);
  --neutral-solidDisabledBg: var(--neutral-100, #f0f4f8);
  --neutral-plainHoverColor: var(--neutral-900, #0b0d0e);
  --neutral-mainChannel: 99 107 116;
  --neutral-lightChannel: 221 231 238;
  --neutral-darkChannel: 50 56 62;
  --common-white: #fff;
  --common-black: #000;
  --text-primary: var(--neutral-800, #171a1c);
  --text-secondary: var(--neutral-700, #32383e);
  --text-tertiary: var(--neutral-600, #555e68);
  --text-icon: var(--neutral-500, #636b74);
  --background-body: var(--common-white, #fff);
  --background-surface: var(--neutral-50, #fbfcfe);
  --background-popup: var(--common-white, #fff);
  --background-level1: var(--neutral-100, #f0f4f8);
  --background-level2: var(--neutral-200, #dde7ee);
  --background-level3: var(--neutral-300, #cdd7e1);
  --background-tooltip: var(--neutral-500, #636b74);
  --background-backdrop: rgba(var(--neutral-darkChannel, 11 13 14) / 0.25);
  --divider: rgba(var(--neutral-mainChannel, 99 107 116) / 0.2);
}

[data-theme="dark"] {
  --primary-50: #edf5fd;
  --primary-100: #e3effb;
  --primary-200: #c7dff7;
  --primary-300: #97c3f0;
  --primary-400: #4393e4;
  --primary-500: #0b6bcb;
  --primary-600: #185ea5;
  --primary-700: #12467b;
  --primary-800: #0a2744;
  --primary-900: #051423;
  --primary-plainColor: var(--primary-300, #97c3f0);
  --primary-plainHoverBg: var(--primary-800, #0a2744);
  --primary-plainActiveBg: var(--primary-700, #12467b);
  --primary-plainDisabledColor: var(--neutral-500, #636b74);
  --primary-outlinedColor: var(--primary-200, #c7dff7);
  --primary-outlinedBorder: var(--primary-700, #12467b);
  --primary-outlinedHoverBg: var(--primary-800, #0a2744);
  --primary-outlinedActiveBg: var(--primary-700, #12467b);
  --primary-outlinedDisabledColor: var(--neutral-500, #636b74);
  --primary-outlinedDisabledBorder: var(--neutral-800, #171a1c);
  --primary-softColor: var(--primary-200, #c7dff7);
  --primary-softBg: var(--primary-800, #0a2744);
  --primary-softHoverBg: var(--primary-700, #12467b);
  --primary-softActiveColor: var(--primary-100, #e3effb);
  --primary-softActiveBg: var(--primary-600, #185ea5);
  --primary-softDisabledColor: var(--neutral-500, #636b74);
  --primary-softDisabledBg: var(--neutral-800, #171a1c);
  --primary-solidColor: var(--common-white, #fff);
  --primary-solidBg: var(--primary-500, #0b6bcb);
  --primary-solidHoverBg: var(--primary-600, #185ea5);
  --primary-solidActiveBg: var(--primary-700, #12467b);
  --primary-solidDisabledColor: var(--neutral-500, #636b74);
  --primary-solidDisabledBg: var(--neutral-800, #171a1c);
  --primary-mainChannel: 67 147 228;
  --primary-lightChannel: 199 223 247;
  --primary-darkChannel: 18 70 123;
  --neutral-50: #fbfcfe;
  --neutral-100: #f0f4f8;
  --neutral-200: #dde7ee;
  --neutral-300: #cdd7e1;
  --neutral-400: #9fa6ad;
  --neutral-500: #636b74;
  --neutral-600: #555e68;
  --neutral-700: #32383e;
  --neutral-800: #171a1c;
  --neutral-900: #0b0d0e;
  --neutral-plainColor: var(--neutral-300, #cdd7e1);
  --neutral-plainHoverBg: var(--neutral-800, #171a1c);
  --neutral-plainActiveBg: var(--neutral-700, #32383e);
  --neutral-plainDisabledColor: var(--neutral-500, #636b74);
  --neutral-outlinedColor: var(--neutral-200, #dde7ee);
  --neutral-outlinedBorder: var(--neutral-700, #32383e);
  --neutral-outlinedHoverBg: var(--neutral-800, #171a1c);
  --neutral-outlinedActiveBg: var(--neutral-700, #32383e);
  --neutral-outlinedDisabledColor: var(--neutral-500, #636b74);
  --neutral-outlinedDisabledBorder: var(--neutral-800, #171a1c);
  --neutral-softColor: var(--neutral-200, #dde7ee);
  --neutral-softBg: var(--neutral-800, #171a1c);
  --neutral-softHoverBg: var(--neutral-700, #32383e);
  --neutral-softActiveColor: var(--neutral-100, #f0f4f8);
  --neutral-softActiveBg: var(--neutral-600, #555e68);
  --neutral-softDisabledColor: var(--neutral-500, #636b74);
  --neutral-softDisabledBg: var(--neutral-800, #171a1c);
  --neutral-solidColor: var(--common-white, #fff);
  --neutral-solidBg: var(--neutral-500, #636b74);
  --neutral-solidHoverBg: var(--neutral-600, #555e68);
  --neutral-solidActiveBg: var(--neutral-700, #32383e);
  --neutral-solidDisabledColor: var(--neutral-500, #636b74);
  --neutral-solidDisabledBg: var(--neutral-800, #171a1c);
  --neutral-plainHoverColor: var(--neutral-300, #cdd7e1);
  --neutral-mainChannel: 159 166 173;
  --neutral-lightChannel: 221 231 238;
  --neutral-darkChannel: 50 56 62;
  --common-white: #fff;
  --common-black: #000;
  --text-primary: var(--neutral-100, #f0f4f8);
  --text-secondary: var(--neutral-300, #cdd7e1);
  --text-tertiary: var(--neutral-400, #9fa6ad);
  --text-icon: var(--neutral-400, #9fa6ad);
  --background-body: var(--common-black, #000);
  --background-surface: var(--neutral-900, #0b0d0e);
  --background-popup: var(--common-black, #000);
  --background-level1: var(--neutral-800, #171a1c);
  --background-level2: var(--neutral-700, #32383e);
  --background-level3: var(--neutral-600, #555e68);
  --background-tooltip: var(--neutral-600, #555e68);
  --background-backdrop: rgba(var(--neutral-darkChannel, 251 252 254) / 0.25);
  --divider: rgba(var(--neutral-mainChannel, 99 107 116) / 0.16);
}
